* {
    font-family: "Rubik";
}

header {
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 15px;
    margin: -8px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

body, html {
    background-color: #7AC39C;
    background-image: url(../images/tatglobalbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

h1 {
    color: #008080
}

#headerlink {
    color: white;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

#activeheader {
    color: black;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;
}

#backarrow {
    fill: white;
}

#tatglobal {
    width: 200px;
    margin-top: 20px;   
}

#tatdddiv {
    display: flex;
    justify-content: center;
}

#btntitle {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #3a614b;
}

#conimage {
    border-radius: 10px;
    margin-right: 20px;
}

#contestant {
    display: flex;
    justify-content: center;
}

#conname {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -10px;
}

#coninfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#button {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #98f2c0;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    width: 400px;
    height: 70px;
    align-items: center;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#button:hover {
    transform: scale(1.03);
    background-color: #bbffda;
}

#buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}