header {
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 15px;
    margin: -8px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

body, html {
    height: 100%;
    background-color: #7AC39C;
    background-image: url(./images/tatddbg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    color: #008080
}

#headerlink {
    color: white;
    font-family: "Rubik";
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

#activeheader {
    color: black;
    font-family: "Rubik";
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;
}

#backarrow {
    fill: white;
}

#tatdd {
    width: 200px;
    margin-top: 20px;   
}

#tatdddiv {
    display: flex;
    justify-content: center;
}